@function hexToRGB($hex) {
    @return red($hex), green($hex), blue($hex);
}

$primary: #898DF8;

:root{
    --primary: #{$primary};
    --white: #fff;
    --white-rgb: 255, 255, 255;
    --black: #000;
    --black-rgb: 0, 0, 0;
    --body-background: #fff;
    --shadow-opacity: .16;
    --opaque: 1;

    // Text styles
    --text-dark: #2B2B2B;
    --text-light-grey: #C7C7C7;
    --text-medium-grey: #707070;
    --col-f0f1ff: #f0f1ff;
    --primary-rgb: #{hexToRGB($primary)};
}