@function hexToRGB($hex) {
    @return red($hex), green($hex), blue($hex);
}

$primary: #F6953C;

:root{
    --primary: #{$primary};
    --white: #fff;
    --white-rgb: 255, 255, 255;
    --black: #000;
    --black-rgb: 0, 0, 0;
    --body-background: #fff;
    --shadow-opacity: .16;
    --opaque: 1;

    // Text styles
    --text-dark: #2B2B2B;
    --col-454545: #635c5c;
    --col-171717: #171717;
    --col-2B3876: #2B3876;
    --col-E2E6EB: #E2E6EB;
    --col-F9F5F4: #F9F5F4;
    --text-light-grey: #5C5C5C;
    --text-medium-grey: #707070;
    --col-f0f1ff: #f0f1ff;
    --col-F4F5F7: #F4F5F7;
    --col-25D366: #25D366;
    --primary-rgb: #{hexToRGB($primary)};
}