:root{
    --primary: #898DF8;
    --white: #fff;
    --white-rgb: 255, 255, 255;
    --black: #000;
    --black-rgb: 0, 0, 0;
    --body-background: #F4F4F4;
    --shadow-opacity: .16;
    --opaque: 1;

    // Text styles
    --text-dark: #2B2B2B;
    --text-light-grey: #C7C7C7;
    --text-medium-grey: #707070;
}