// Typography

// $serif: 'Merriweather', serif;
$sans-serif: 'IBM Plex Sans', sans-serif;
$font-normal: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;

body{
    font-family: $sans-serif;
}

h1{
    font-size: clamp(1.2rem, 6vw, 3.2rem);
    color: var(--text-dark);
}

h2{
    font-size: 2.8rem;
    color: var(--text-dark);
}

h3{
    font-size: 2.4rem;
    color: var(--text-dark);
}

h4{
    font-size: 2rem;
    color: var(--text-dark);
}

h5{
    font-size: 1.8rem;
    color: var(--text-dark);
}

p{
    font-size: 1.6rem;
    font-weight: $font-normal;
}

ul, ol, blockquote, label, a{
    font-family: $sans-serif;
}

@media screen and (max-width: 767px){
    h3{
        font-size: 2rem;
    }
}