* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -moz-osx-font-smoothing: grayscale;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

:root {
  --primary: #F6953C;
  --white: #fff;
  --white-rgb: 255, 255, 255;
  --black: #000;
  --black-rgb: 0, 0, 0;
  --body-background: #fff;
  --shadow-opacity: .16;
  --opaque: 1;
  --text-dark: #2B2B2B;
  --col-454545: #635c5c;
  --col-171717: #171717;
  --col-2B3876: #2B3876;
  --col-E2E6EB: #E2E6EB;
  --col-F9F5F4: #F9F5F4;
  --text-light-grey: #5C5C5C;
  --text-medium-grey: #707070;
  --col-f0f1ff: #f0f1ff;
  --col-25D366: #25D366;
  --primary-rgb: 246, 149, 60;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
}

h1 {
  font-size: clamp(1.2rem, 5vw, 3.2rem);
  color: var(--text-dark);
}

h2 {
  font-size: 2.8rem;
  color: var(--text-dark);
}

h3 {
  font-size: 2.4rem;
  color: var(--text-dark);
}

h4 {
  font-size: 2rem;
  color: var(--text-dark);
}

h5 {
  font-size: 1.8rem;
  color: var(--text-dark);
}

p {
  font-size: 1.6rem;
  font-weight: 400;
}

ul, ol, blockquote, label, a {
  font-family: "IBM Plex Sans", sans-serif;
}

body {
  background-color: var(--body-background);
}

.body__bg {
  background: -webkit-gradient(linear, left top, left bottom, from(#F8F8F8), to(#FFFFFF));
  background: linear-gradient(180deg, #F8F8F8 0%, #FFFFFF 100%);
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-flex-line-pack: center;
      align-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header__logo {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
}

.header nav {
  -ms-grid-column: 9;
  -ms-grid-column-span: 2;
  grid-column: 9/11;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__photo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: 2/7;
}

.hero__intro {
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: 2/7;
}

.playground {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.playground__block {
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-column: 3 / 11;
}

.contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
}

.contact__content {
  -ms-grid-column: 3;
  -ms-grid-column-span: 5;
  grid-column: 3 / 8;
}

.about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
}

.about__img {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
}

.about__content {
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4/7;
}

.header__shadow {
  background-color: var(--white);
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: var(--black);
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "IBM Plex Sans", sans-serif;
}

.header__logo--letter {
  font-size: 8.4rem;
  margin-right: 4px;
}

.nav {
  padding: 0;
  list-style-type: none;
}

.nav li:not(:last-child) {
  margin-right: 6em;
}

.nav li a {
  text-decoration: none;
  font-size: 1.6rem;
  text-transform: none;
  font-weight: 500;
  color: var(--text-medium-grey);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.nav li a:hover {
  color: var(--primary);
}

.hero {
  text-align: center;
  position: relative;
  height: 90vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.hero__photo span {
  display: inline-block;
  width: 310px;
  height: 310px;
  background-color: #92c1eb;
  border-radius: 50%;
}

.hero__intro {
  margin-top: 70px;
}

.hero__intro h1 {
  font-weight: 500;
}

.hero__intro h1 span {
  display: block;
}

.hero__intro__highlight {
  color: var(--primary);
  text-decoration: none;
  font-weight: 600;
}

.hero__intro h4 {
  margin-bottom: 1.2em;
  position: relative;
  padding-left: 30px;
  font-weight: 400;
}

.hero__wave {
  margin-top: 1em;
}

.hero__wave img {
  width: 190px;
  margin: 0 auto;
}

.hero__wave--bg {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  position: absolute;
  top: 210px;
}

.hero__helptext {
  color: var(--col-454545);
  display: inline-block;
  position: relative;
  font-size: 1.6rem;
  margin-top: 1.5em;
  font-family: "IBM Plex Sans", sans-serif;
}

.hero__helptext:before {
  content: '';
  position: absolute;
  left: -20px;
  width: 12px;
  height: 2px;
  background-color: var(--col-454545);
  border-radius: 1px;
  top: 50%;
}

.hero__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 6em;
}

.hero__social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  background-color: var(--white);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 1px rgba(var(--black-rgb), var(--shadow-opacity));
          box-shadow: 0 1px 1px rgba(var(--black-rgb), var(--shadow-opacity));
}

.hero__social a:not(:last-child) {
  margin-right: 30px;
}

@-webkit-keyframes wave {
  0% {
    margin-left: 0;
    margin-top: 0;
  }
  50% {
    margin-top: 100px;
  }
  100% {
    margin-top: 0;
    margin-left: -800px;
  }
}

@keyframes wave {
  0% {
    margin-left: 0;
    margin-top: 0;
  }
  50% {
    margin-top: 100px;
  }
  100% {
    margin-top: 0;
    margin-left: -800px;
  }
}

.playground__block:not(:last-child) {
  margin-bottom: 100px;
}

.playground__label {
  margin-bottom: 20px;
}

.playground__label h2 {
  position: relative;
  font-weight: 700;
  display: inline-block;
}

.playground__label h2:before {
  content: '#';
  position: absolute;
  left: -28px;
}

.playground__label h2:after {
  content: '';
  position: absolute;
  left: 0;
  right: -2px;
  bottom: 0;
  height: 12px;
  z-index: -1;
  background-color: #97FDBE;
}

.playground__css__card {
  padding-left: 0;
  display: column;
  -webkit-columns: 2;
          columns: 2;
  gap: 1.5em;
}

.playground__css__card > * {
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
}

.playground__css__card li {
  background-color: var(--white);
  list-style: none;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #e9e9e9;
  padding-bottom: 20px;
  margin-bottom: 1.5em;
}

.playground__css__card li a {
  padding: 30px 20px 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.playground__css__card li a label {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-dark);
  cursor: pointer;
  margin-bottom: 4px;
}

.playground__css__card li a span {
  font-size: 1.4rem;
  display: inline-block;
  color: var(--text-medium-grey);
}

.card {
  padding: 0;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-gap: 2em;
}

.card li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  border-radius: 10px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  position: relative;
}

.card__link {
  display: inline-block;
  text-decoration: none;
}

.card__content {
  position: absolute;
  top: 50%;
  right: 60px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 290px;
}

.card__content h3 {
  margin-bottom: 12px;
  font-weight: 600;
  color: var(--text-dark);
}

.card__content p {
  color: var(--text-light-grey);
  margin-bottom: 12px;
}

.card__content span {
  font-size: 1.4rem;
  color: var(--text-light-grey);
}

.card__photo img {
  width: 100%;
  height: 100%;
  display: block;
}

.about {
  padding: 16vh 0;
}

.about__img img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  width: 25vw;
  height: 60vh;
  border-radius: 8px;
}

.about__content {
  border-radius: 8px;
  padding: 0 0 0 5em;
}

.about__content h3 {
  margin-bottom: .5em;
}

.about__content p {
  line-height: 1.7;
  color: var(--text-medium-grey);
  padding-right: 8em;
}

.about__content p:not(:last-child) {
  margin-bottom: .75em;
}

.about__content--link {
  text-decoration: none;
  color: var(--primary);
}

.about__social {
  margin-top: 5em;
}

.contact {
  margin: 150px 0;
}

.contact__content h3 {
  margin-bottom: 22px;
}

.contact__content p {
  margin-bottom: 20px;
  color: var(--text-light-grey);
}

.contact__social {
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__social li:not(:last-child) {
  margin-right: 30px;
}

footer {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #ccc;
  padding: 16px 0;
}

.text__center {
  text-align: center;
}

.project {
  padding: 0;
  padding-bottom: 130px;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.project:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

.project__mefit:before {
  background-color: #F4F7F9;
}

.project__trackbag:before {
  background-color: var(--col-F9F5F4);
}

.project__head {
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-column: 3 / 11;
  margin: 25em 0 24px;
}

.project__head--label {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
}

.project__head h1 {
  text-transform: uppercase;
  margin-top: 32px;
}

.project__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 38px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project__details__list {
  padding-left: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project__details__list li {
  margin-right: 100px;
}

.project__details__list li label {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--text-dark);
  text-transform: uppercase;
}

.project__details__list li p {
  margin-top: 8px;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--col-171717);
}

.project__view {
  background-color: var(--col-2B3876);
  border-radius: 4px;
  padding: 6px 26px;
  max-width: 160px;
  min-height: 40px;
  font-size: 1.4rem;
  font-weight: 600;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: var(--white);
}

.project__view span {
  display: inline-block;
  margin-right: 8px;
}

.project__view img {
  width: 14px;
  height: 14px;
}

.project__hero {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2 / 12;
}

.project__content {
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-column: 3 / 11;
}

.project__content h3 {
  margin-bottom: .67em;
  margin-top: 3.334em;
  text-transform: uppercase;
  font-weight: 600;
}

.project__content h5 {
  font-weight: 500;
  margin-bottom: .56em;
}

.project__content p {
  color: var(--col-171717);
  margin-bottom: 0.56em;
  line-height: 1.5;
  font-size: 1.8rem;
}

.project__content ol {
  margin-bottom: 4.5em;
}

.project__content ol li label {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 1em;
  display: inline-block;
}

.project__content ol li::marker {
  font-size: 1.6rem;
}

.project__content__question {
  text-align: center;
  border-top: 1px solid var(--col-E2E6EB);
  border-bottom: 1px solid var(--col-E2E6EB);
  padding: 50px 0;
  margin: 80px 0;
}

.project__content__question h4 {
  color: var(--text-light-grey);
  text-transform: uppercase;
  margin-bottom: 0.8em;
  font-weight: 500;
}

.project__content__question p {
  font-weight: 600;
  color: var(--text-dark);
}

.project__content blockquote {
  display: inline-block;
  font-style: italic;
  background: var(--col-f0f1ff);
  padding: 1em 1.5em;
  font-size: 1.6rem;
  border-left: 4px solid var(--primary);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.project__content blockquote p:last-child {
  margin: 0;
}

.project__inline-image {
  margin-bottom: 4em;
}

.list {
  margin-top: 2.4em;
}

.list__block {
  margin-bottom: 3.2em;
  margin-top: 1.6em;
}

.list__block li {
  font-size: 1.8rem;
  line-height: 1.4;
  color: var(--col-171717);
}

.list__block li:not(:last-child) {
  margin-bottom: 16px;
}

.list__nested {
  padding-left: 28px;
}

.list__visual {
  margin-top: 2em;
}

.list__visual li:not(:last-child) {
  margin-bottom: 6em;
}

.list label {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 1em;
  display: inline-block;
}

.blockquote__margin {
  margin: 1.5em 0;
}

.rfid p:last-child {
  margin: .89em 0 1.78em;
}

.solution {
  border: 1px solid var(--col-E2E6EB);
  border-radius: 8px;
  margin-top: 3.2em;
  margin-bottom: 8em;
  padding-bottom: 4em;
}

.solution__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 3.2em;
  margin: 0 4.0em 3.2em;
  list-style-type: none;
  margin-bottom: 3.2em;
  border-bottom: 1px solid var(--col-E2E6EB);
}

.solution__list li {
  width: 50%;
  padding: 0 60px;
  text-align: center;
}

.solution__list li p {
  color: var(--text-light-grey);
}

.solution__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.solution__content img {
  width: 20vw;
}

.solution__content__para {
  background-color: var(--col-25D366);
  border-radius: 4px;
  width: 600px;
  padding: 20px 40px;
}

.solution__content__para p {
  font-size: 2.8rem;
  line-height: 1.5;
  margin-bottom: 0;
  color: var(--white);
}

.image__grid {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 4em;
}

.image__grid li {
  list-style-type: none;
  -webkit-box-flex: 49%;
      -ms-flex: 49%;
          flex: 49%;
}

.image__half {
  width: 50%;
  margin: 0 auto;
}

.margin__user {
  margin: 1.5em 0 3.2em;
}

.margin__baggage {
  margin-bottom: 3.2em;
}

.margin__quote q {
  display: block;
  margin-bottom: 2em;
}

.margin__gist-bottom {
  margin-bottom: 3em;
}

.gist {
  max-width: 980px;
}
/*# sourceMappingURL=style.css.map */