// About
.about{

    &__head{
        margin: 30em 0 12em;
        border: 1px solid var(--col-E2E6EB);
        border-radius: 10px;

        &__content{
            padding: 0 0 0 5em;
    
            h1{
                margin-bottom: .5em;
            }
    
            p{
                line-height: 1.7;
                font-size: 1.8rem;
                color: var(--text-medium-grey);
                &:not(:last-child){
                    margin-bottom: .75em;
                }
            }
    
            &--link{
                text-decoration: none;
                color: var(--primary);
            }

            &--wave{
                animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
                animation-duration: 2.5s;        /* Change to speed up or slow down */
                animation-iteration-count: infinite;  /* Never stop waving :) */
                transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
                display: inline-block;
            }
        }

    }

    &__img{
        flex-shrink: 0;
        img{
            // background-image: url('/images/about.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            max-width: 100%;
            width: 284px;
            height: 284px;
            border-radius: 8px;
        }
    }

    &__body{

        &__block{
            h3{
                font-weight: $font-semi-bold;
                color: var(--text-dark);
                margin-bottom: .67em;
            }

            p{
                color: var(--text-light-grey);
                margin-bottom: 2em;
                line-height: 1.4;

                a{
                    font-weight: $font-semi-bold;
                    text-decoration: none;
                    color: $primary;
                }
            }
        }
    }

    &__value{

        &__list{
            li{
                list-style-type: none;
                position: relative;
                label{
                    font-size: 2rem;
                    font-weight: $font-medium;
                    color: var(--col-171717);
                    display: inline-block;
                    margin-bottom: .2em;
                }
                p{
                    color: var(--text-light-grey);
                }

                &:before{
                    content: '';
                    position: absolute;
                    left: -16px;
                    top: 10px;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: var(--text-light-grey);

                }

                &:not(:last-child){
                    margin-bottom: 2em;
                }
            }
        }
    }

    &__fact{
        &__link{
            display: flex;
            align-items: center;
            background-color: var(--white);
            box-shadow: 0 1px 14px rgba(0, 0, 0, 0.15);
            padding: 2.2em 2.4em 2.2em 2em;
            border-radius: 8px;
            width: calc(100% - 64px);
            margin: 0 auto;
            text-decoration: none;

            svg{
                flex-shrink: 0;
            }

            span{
                font-size: 2rem;
                color: var(--text-light-grey);
                margin-left: 20px;
            }
        }
    }

    &__interest{
        &__list{
            display: flex;
            padding: 0;

            li{
                list-style-type: none;
            }
        }
    }

    &__divider{
        width: calc(100vw - 70vw);
        margin: 8em auto;
        grid-column: 3/11;
        border: 0;
        border-top: 1px solid var(--col-E2E6EB);
    }
}

.social{
    &__list{
        display: flex;
        padding-left: 0;

        li{
            list-style: none;

            &:not(:last-child){
                margin-right: 24px;
            }

            a{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 52px;
                height: 52px;
                border-radius: 4px;
                background-color: var(--col-F9F5F4);
            }
        }
    }
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
}

@media screen and (max-width: 767px){
    .about{
        grid-template-columns: repeat(6, 1fr);

        &__head{
            margin: 15em 0 6em;
            grid-column: 1/-1;
            padding: 2em;
            flex-direction: column;
            align-items: flex-start;
            border: 0;

            &__content{
                padding: 0;
                margin-top: 3.2em;

                p{
                    font-size: 1.6rem;
                    line-height: 1.54;
                    color: var(--text-light-grey);
                }
            }
        }

        &__value{

            &__list{
                li{
                    label{
                        font-size: 1.6rem;
                    }
                    p{
                        font-size: 1.4rem;
                        line-height: 1.4;
                    }
                }
            }
        }

        &__img img{
            width: 220px;
            height: 220px;
        }

        &__body{
            grid-column: 1/-1;
            padding: 0 2em;

            &__block{
                p{
                    line-height: 1.5;
                }
            }
        }

        &__fact{
            &__link{
                width: 100%;

                span{
                    font-size: 1.6rem;
                }
            }
        }

        &__divider{
            margin: 6em auto;
            grid-column: 1/-1;
        }

        &__interest{
            &__list{
                flex-wrap: wrap;
            }
        }
    }

    .social{
        &__list{
            flex-wrap: wrap;

            li{
                &:not(:last-child){
                    margin-bottom: 2em;
                }
            }
        }
    }
}