.card{
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2em;

    li{
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        // background-color: var(--white);
        border-radius: 10px;
        // box-shadow: 0 3px 6px rgba(var(--black-rgb), .16);
        transition: all .3s ease;
        // height: 540px;
        position: relative;

        // &:hover{
        //     transform: translate(0, -5px);
        //     box-shadow: 0 8px 15px rgba(var(--black-rgb), .16);
        // }
    }

    &__link{
        display: inline-block;
        text-decoration: none;
    }

    &__content{
        position: absolute;
        top: 50%;
        right: 60px;
        transform: translateY(-50%);
        width: 290px;

        h3{
            margin-bottom: 12px;
            font-weight: $font-semi-bold;
            color: var(--text-dark);
        }

        p{
            color: var(--text-light-grey);
            margin-bottom: 12px;
        }

        span{
            font-size: 1.4rem;
            color: var(--text-light-grey);
        }
    }

    &__photo{
        img{
            width: 100%;
            height: 100%;
            display: block;
        }
    }
}