.contact{
    margin: 150px 0;

    &__content{

        h3{
            margin-bottom: 22px;
        }

        p{
            margin-bottom: 20px;
            color: var(--text-dark-grey);
        }
    }

    &__social{
        padding: 0;
        list-style-type: none;
        display: flex;

        li{
            &:not(:last-child){
                margin-right: 30px;
            }
        }
    }
}