.playground{

    &__block{

        &:not(:last-child){
            margin-bottom: 100px;
        }
    }

    &__label{
        margin-bottom: 20px;

        h2{
            position: relative;
            font-weight: $font-bold;
            display: inline-block;

            &:before{
                content: '#';
                position: absolute;
                left: -28px;
            }

            &:after{
                content: '';
                position: absolute;
                left: 0;
                right: -2px;
                bottom: 0;
                height: 12px;
                z-index: -1;
                background-color: #97FDBE;
            }
        }
    }
}